@model MVCEmail.Models.ContactFormModel

<!-- ========== GOOGLE MAP ========== -->
    <div id="mapwrap">
        <iframe height="450" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.google.com/maps/embed/v1/view?zoom=10&center=53.5444,-113.4909&key=AIzaSyBu7A8T92ZU0-6jJMXuwaH-fltUZIRcFMc"></iframe>
    </div>
    <!-- /GOOGLE MAP -->
@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    
    <!-- ========== CONTACT FORM ========== -->
    <div class="container">
        <div class="row sinfo">
            <div class="col-lg-4">
                <h4>Our Information</h4>
                <br>
                <div class="cinfo">
                    <img src="~/Images/icons/mail.svg" alt="">
                </div>
                <p>
                    colby.armstrong@signalfyre.ca<br />
                    connor.england@signalfyre.ca
                </p>
                <hr>
                <div class="cinfo">
                    <img src="~/Images/icons/android.svg" alt="">
                </div>
                <p>
                    +1 780-231-8398<br />
                </p>
                <hr>
            </div>


        </div>
    </div>
    <!-- /CONTACT FORM -->
}