
    <!-- ========== SPACER ========== -->
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<h1><br /> <b>Innovative, </b> Responsive, <br />Efficient.</h1>
			</div>
		</div>
	</div>
    <!-- /SPACER -->
	
    <!-- ========== CALL TO ACTION ========== -->
    <div id="cta">
	    <div class="container centered">
		    <h3>Welcome to our brand new site.</h3>
		    <p>While you're here, why not take a look at the partnership behind SignalFyre? Our developer duo has a combined 8 years of experience in the realm of IT and web development.</p>
		    <br>
            <a href="contact.html">@Html.ActionLink("Meet Our Team", "Team", "Home", new { area = "" }, new { @class = "btn btn-embossed btn-primary" })</a>
	    </div>
    </div>
    <!-- /CALL TO ACTION -->
	
    <!-- ========== SERVICES ========== -->
    <div class="container sinfo">
	    <div class="row svgicons centered">
		    <div class="col-lg-4">
			    <img src="~/images/icons/ring.svg">
			    <h4>We can build<br/> <b>Customer Facing Websites</b></h4>
			    <p>Let us a build you a beautiful website for your future customers to enjoy. All of our sites are 
                built to work on all standard devices and with speed in mind. Every page we build is thoroughly tested and 
                reduced multiple times to ensure the fastest page loading times.</p>
		    </div>	
		    <div class="col-lg-4">
                <img src="~/images/icons/flask.svg">			        
			    <h4>Or maybe you need an<br/> <b>Internal Website</b></h4>
			    <p>Do you need a business specific system for things like inventory management? Customer management? Anything else!? Sure, there are lot of services out there you could pay for
                 monthly, but we offer you a custom solution without all the components you pay for but never use. Our solutions are built for your specific needs only.</p>
		    </div><!-- col-lg-4 -->		
		    <div class="col-lg-4">
                <img src="~/images/icons/pencils.svg">    
			    <h4>We also offer<br/> <b>The best support around</b></h4>
			    <p>We work tirelessly to make sure all of our customers are 100% satisfied with the final product. 
                Not only that, but we offer continued support for all the little things you want tweaked.</p>
		    </div>
	    </div>
	    <br>
	    <hr>
    </div>
    <!-- /SERVICES -->

