    <!-- ========== SLIDESHOW ========== -->
    <section id="slideshow-container">
        <div class="banner">                   	
            <ul>      
                <!-- SLIDE 1 -->
                <li data-transition="fade">
                    <img src="~/images/slideshow/transparent.png" alt="" style="background:#1abc9c">
                    <div class="caption general_caption lfb" data-x="-432" data-y="190" data-speed="2000" data-endspeed="1000" data-start="300" data-end="7700" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                        <img class="img-responsive" src="~/images/slideshow/sld1_bg1.png" alt="">
                    </div>
                    <div class="caption general_caption lfb" data-x="-432" data-y="284" data-speed="2300" data-endspeed="1000" data-start="600" data-end="7800" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                        <img class="img-responsive" src="~/images/slideshow/sld1_bg2.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="-432" data-y="294" data-speed="2600" data-endspeed="1000" data-start="900" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                        <img class="img-responsive" src="~/images/slideshow/sld1_bg3.png" alt=""></div>
                    <div class="caption general_caption pst_media12 lft"  data-x="58" data-y="119" data-speed="2200" data-endspeed="900" data-start="800" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInBack">
                        <h1 class="bold">TEST <b></b>TEST</h1>
                    </div>
                    <div class="caption general_caption pst_media lft"  data-x="58" data-y="175" data-speed="2200" data-endspeed="900" data-start="600" data-end="8100" data-easing="easeOutExpo" data-endeasing="easeInBack">
                        <h2>**WRITE SOMETHING HERE**</h2>
                    </div>
                    
                    <div class="caption general_caption lfb" data-x="593" data-y="5" data-speed="4000" data-endspeed="1000" data-start="100" data-end="8200" data-easing="easeOutElastic" data-endeasing="easeInExpo">
                        <img class="img-responsive" src="~/images/slideshow/sld1_icon1.png" alt="">
                    </div>
                    <div class="caption general_caption lfb" data-x="779" data-y="13" data-speed="4000" data-endspeed="1000" data-start="200" data-end="8100" data-easing="easeOutElastic" data-endeasing="easeInExpo">
                        <img class="img-responsive" src="~/images/slideshow/sld1_icon2.png" alt="">
                    </div>
                    <div class="caption general_caption lfb" data-x="887" data-y="158" data-speed="4000" data-endspeed="1000" data-start="300" data-end="7900" data-easing="easeOutElastic" data-endeasing="easeInExpo">
                        <img class="img-responsive" src="~/images/slideshow/sld1_icon3.png" alt="">
                    </div>
                    <div class="caption general_caption lfb" data-x="795" data-y="293" data-speed="4000" data-endspeed="1000" data-start="600" data-end="7900" data-easing="easeOutElastic" data-endeasing="easeInExpo">
                        <img class="img-responsive" src="~/images/slideshow/sld1_icon4.png" alt="">
                    </div>
                    <div class="caption general_caption lfb" data-x="585" data-y="300" data-speed="4000" data-endspeed="1000" data-start="700" data-end="8000" data-easing="easeOutElastic" data-endeasing="easeInExpo">
                        <img class="img-responsive" src="~/images/slideshow/sld1_icon5.png" alt="">
                    </div>
                    <div class="caption general_caption lfb" data-x="492" data-y="165" data-speed="4000" data-endspeed="1000" data-start="400" data-end="7800" data-easing="easeOutElastic" data-endeasing="easeInExpo">
                        <img class="img-responsive" src="~/images/slideshow/sld1_icon6.png" alt="">
                    </div>
                    <div class="caption general_caption lfb" data-x="683" data-y="167" data-speed="4000" data-endspeed="1000" data-start="500" data-end="7700" data-easing="easeOutElastic" data-endeasing="easeInExpo">
                        <img class="img-responsive" src="~/images/slideshow/sld1_icon7.png" alt="">
                    </div>
    		    </li>
                <!-- /SLIDE 1 -->

                <!-- SLIDE 2 -->
                <li data-transition="fade">
                    <img src="~/images/slideshow/transparent.png" alt="" style="background:#e4e6e6">
                    <div class="caption general_caption lfb" data-x="-432" data-y="0" data-speed="2000" data-endspeed="1000" data-start="100" data-end="7700" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                        <img src="~/images/slideshow/sld4_bg1.png" alt="">
                    </div>
                    <div class="caption general_caption lfb" data-x="520" data-y="28" data-speed="3000" data-endspeed="1000" data-start="700" data-end="8000" data-easing="easeOutExpo" data-endeasing="easeInExpo">
                        <img src="~/images/slideshow/sld4_img1.png" alt="">
                    </div>
                    <div class="caption general_caption pst_media14 lfl ltl"  data-x="56" data-y="83" data-speed="900" data-endspeed="900" data-start="100" data-end="5700" data-easing="easeOutBack" data-endeasing="easeInBack">
                        <h1 class="bold blue-text">Build your success</h1>
                    </div>
                    <div class="caption general_caption lfl ltl "  data-x="56" data-y="162" data-speed="900" data-endspeed="900" data-start="800" data-end="6200" data-easing="easeOutBack" data-endeasing="easeInBack">
                        <p class="lead-alt"><i class="icon-ok-sign"></i>Complete HTML5 pages for your business.</p>
                    </div>
                    <div class="caption general_caption pst_media4 lfl ltl"  data-x="56" data-y="210" data-speed="900" data-endspeed="900" data-start="1300" data-end="6700" data-easing="easeOutBack" data-endeasing="easeInBack">
                        <p class="lead-alt"><i class="icon-ok-sign"></i>100% Customizable to your business needs.</p>
                    </div>
                    <div class="caption general_caption pst_media5 lfl ltl"  data-x="56" data-y="258" data-speed="900" data-endspeed="900" data-start="1800" data-end="7200" data-easing="easeOutBack" data-endeasing="easeInBack">
                        <p class="lead-alt"><i class="icon-ok-sign"></i>Beautiful on all size devices.</p>
                    </div>
                </li>
                <!-- /SLIDE 2 -->
            </ul>
        </div>
    </section>
    <!-- /SLIDESHOW -->

    <!-- ========== CALL TO ACTION ========== -->
    <div id="cta">
	    <div class="container centered">
		    <h3>Welcome to our brand new site.</h3>
		    <p>While you're here, why not take a look at the partnership behind SignalFyre? Our developer duo has a combined 8 years of experience in the relm of IT and web development.</p>
		    <br>
		    <a href="team.html"><button class="btn btn-embossed btn-primary">Meet Our Team</button></a>
	    </div>
    </div>
    <!-- /CALL TO ACTION -->
	
    <!-- ========== SERVICES ========== -->
    <div class="container sinfo">
	    <div class="row svgicons centered">
		    <div class="col-lg-4">
			    <img src="~/images/icons/ring.svg">
			    <h4>We can build<br/> <b>Customer Facing Websites</b></h4>
			    <p>Let us a build you a beautiful website for your future customers to enjoy. 
                All of our sites are built to work on all standard devices and with speed in mind.
                Every page we build is throughly tested and reduced multiple times to ensure the fastesr page loading times. </p>
		    </div>	
		    <div class="col-lg-4">
                <img src="~/images/icons/flask.svg">			        
			    <h4>Or maybe you need an<br/> <b>Internal Website</b></h4>
			    <p>Do you need a business specific system for things like inventory management? customer management? Anything else!? Sure, there are lot of services out there you could pay for montly
                    but we offer you a custom solution without all the components you pay for but never use. Our solutions are built for your specific needs only.</p>
		    </div><!-- col-lg-4 -->		
		    <div class="col-lg-4">
                <img src="~/images/icons/pencils.svg">    
			    <h4>We also offer<br/> <b>The best support around</b></h4>
			    <p>We work tiresley to make sure all of our customers are 100% satified with the final product. Not only that, we offer continued support for all the small little things you want tweaked.</p>
		    </div>
	    </div>
	    <br>
	    <hr>
    </div>
    <!-- /SERVICES -->

    <!-- ========== SPACER ========== -->
    <div id="sp1">
        <div class="container">
            <div class="row">
                <h3>We Craft Awesome Sites</h3>
                <img class="img-responsive" src="~/images/half-mac.png">
            </div>
        </div>
    </div>
    <!-- /SPACER -->