<!-- ========== CHIP DESTROYER ========== -->
<div>
    <div class="container">
        <div class="row centered">
            <br>
            <br>
            <div class="col-lg-8 col-lg-offset-2">
                <h3>CHIP DESTROYER</h3>
                <p class="lead">
                    Chip Destroyer is a locally owned
                    and operated windshield repair service. They are unique
                    in that they offer subscription plans and will drive to any
                    location to repair your windshield.
                </p>
            </div>
            <br>

            <div class="col-lg-10 col-lg-offset-1">
                <img class="img-responsive" src="~/Images/Port_Chip.png" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row sinfo">
            <div class="col-lg-3 col-lg-offset-1">
                <p>
                    Our friends at Chip Destroyer approached us in need of two solutions.
                    1: A customer facing website to send potential customers to with information about their unique
                    subscription plan and story the behind their business.
                    As well as a way for customers to contact them for either sales inquiries or service.
                    2: A customer database to handle all their subscriptions set up through a merchant
                    service which could handle payments from all major credit cards.
                </p>
            </div>

            <div class="col-lg-3">
                <p>
                    With that, we set out to build chipdestroyer.ca, a
                    custom marketing website with the power of a customer database in the background.
                    chipdestroyer.ca gives customers all the required information while giving the group
                    over at Chip Destroyer the ability to track and report on all service, payments, etc through the
                    chipdestroyer.ca admin portal. Some other features within the admin panel include user management
                    and control of all subscriptions past and present.
                </p>
            </div>

            <div class="col-lg-4">
                <h6>chipdestroyer.ca</h6>
                <p>
                    <strong>Completed:</strong> DEC 2016 <br />
                    <strong>Work:</strong> Web Design & Development <br />
                    <strong>Team:</strong>Yang Liu, Colby Armstrong, Connor England<br /><br />
                    <a href="http://chipdestroyer.ca/" target="_blank" class="btn btn-primary">Visit Site</a>
                </p>
            </div>
        </div>
        <hr>
    </div>
</div>

<!-- ========== GOLIBERTY ========== -->
<div>
    <div class="container">
        <div class="row centered">
            <br>
            <br>
            <div class="col-lg-8 col-lg-offset-2">
                <h3>GOLIBERTY</h3>
                <p class="lead">
                    Liberty Security Systems provides security, automation,
                    and energy management solutions to residential, commercial and healthcare
                    customers across Canada. They have installed over 50,000 residential and commercial
                    systems in 9 provinces and 3 territories. They also service more than 90 Health Care
                    facilities in Western Canada.
                </p>
            </div>
            <br>

            <div class="col-lg-10 col-lg-offset-1">
                <img class="img-responsive" src="~/Images/Port_GoLib.png" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row sinfo">
            <div class="col-lg-3 col-lg-offset-1">
                <p>
                    Liberty’s sales pay structure is focused on a commission based system.
                    When they approached us they had multiple staff spending countless
                    hours handling complex Excel spreadsheets for each sales representative
                    to calculate their commission. It was a painfully slow process which they
                    believed could surely be optimized and automated.
                </p>
            </div>

            <div class="col-lg-3">
                <p>
                    We set out to create an easy way for all stakeholder to easily manage
                    all commission-related information whether it be creating commission
                    entities, viewing your commission and how the parameters were calculated
                    to get to your commission or actually getting the final numbers to actually
                    set up payroll. We also wanted to be sure that the upper management could
                    view this information in a meaningful way via some custom reports.E
                </p>
            </div>

            <div class="col-lg-4">
                <h6>goliberty.ca (Contact For Demo)</h6>
                <p>
                    <strong>Completed:</strong> MAR 2016 <br />
                    <strong>Work:</strong> Web Design & Development <br />
                    <strong>Team:</strong> Colby Armstrong, Connor England<br /><br />
                </p>
            </div>
        </div>
        <hr>
    </div>
</div>

<!-- ========== MYAXIS ========== -->
<div>
    @*<div class="container">
            <div class="row centered">
                <br>
                <br>
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>MYAXIS</h3>
                    <p class="lead">WRITE 24 WORDS HERE</p>
                </div>
                <br>

                <div class="col-lg-10 col-lg-offset-1">
                    <img class="img-responsive" src="~/Images/Port_myaxis.png" alt="">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row sinfo">
                <div class="col-lg-3 col-lg-offset-1">
                    <p>WRITE 43 WORDS HERE</p>
                </div>

                <div class="col-lg-3">
                    <p>WRITE 33 WORDS HERE</p>
                </div>

                <div class="col-lg-4">
                    <h6>Contact For Demo</h6>
                    <p>
                        <strong>Completed</strong> APR 2017 <br />
                        <strong>Work:</strong> Web Design & Development <br />
                        <strong>Team:</strong> Colby Armstrong, Connor England, Yang Liu, George Wang<br /><br />
                    </p>
                </div>
            </div>
            <hr>
        </div>*@
</div>

<!-- ========== SPCOMM ========== -->
<div>
    <div class="container">
        <div class="row centered">
            <br>
            <br>
            <div class="col-lg-8 col-lg-offset-2">
                <h3>SPCOMM</h3>
                <p class="lead">SPCOMM was built for Stahl Peterbilt which is the Northern Alberta dealer for Peterbilt Trucks.</p>
            </div>
            <br>

            <div class="col-lg-10 col-lg-offset-1">
                <img class="img-responsive" src="~/Images/Port_Spcomm.png" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row sinfo">
            <div class="col-lg-6 col-lg-offset-1">
                <p>
                    When starting at Stahl there was some issue with organizations within the IT department.
                    There were computer parts and peripherals going in and out so fast that we often needed to
                    order parts only when the part was required. We created a quick computer and parts manager
                    to keep track of all IT related equipment as well all the PC’s software and location. The
                    result was a better understand of what parts needed to be ordered beforehand and what software
                    licenses were about to expire. It also helped us with keeping all software and computers up to date.
                </p>
            </div>

            <div class="col-lg-4">
                <h6>Contact For Demo</h6>
                <p>
                    <strong>Completed:</strong> APR 2016 <br />
                    <strong>Work:</strong> Web Design & Development <br />
                    <strong>Team:</strong> Colby Armstrong<br /><br />
                </p>
            </div>
        </div>
        <hr>
    </div>
</div>

<!-- ========== INFOHUB ========== -->
<div>
    <div class="container">
        <div class="row centered">
            <br>
            <br>
            <div class="col-lg-8 col-lg-offset-2">
                <h3>INFOHUB</h3>
                <p class="lead">Made for NAIT as part of the NAIT Capstone project.</p>
            </div>
            <br>

            <div class="col-lg-10 col-lg-offset-1">
                <img class="img-responsive" src="~/Images/Port_Info.png" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row sinfo">
            <div class="col-lg-6 col-lg-offset-1">
                <p>
                    The site was a simple idea with a complex backend. It needed to be an infinite
                    growing “Frequently Asked Questions”. The idea is that as a user you could follow
                    the path of questions to get the best possible answer. As an admin, you would be
                    able to go down a path and be able to add more branches or answers anywhere you want
                    to grow out question paths to better try and answer common questions. If an answer
                    is found it may not be the correct answer so it needed to ask more questions to help
                    narrow it down. If the answer was not found the users are giving a chance to suggest
                    a missing answer for the admins to simple add.
                </p>
            </div>

            <div class="col-lg-4">
                <h6>Contact For Demo</h6>
                <p>
                    <strong>Completed:</strong> DEC 2016 <br />
                    <strong>Work:</strong> Web Design & Development <br />
                    <strong>Team:</strong> Colby Armstrong, Deep Grewal, Haley Sommer, Satpreet Birah, George Wang<br /><br />
                </p>
            </div>
        </div>
    </div>
</div>