    <!-- ========== FULLPAGE HEADER ========== -->
    <div id="teamwrap">
        <div class="container">
            <div class="row">
                <h1>
                    <b>8 years</b><br />
                    of combined IT and web development experience
                </h1>
            </div>
        </div>
    </div>
    <!-- /FULLPAGE HEADER  -->

    <!-- ========== DESCRIPTION ========== -->
    <div class="container sinfo">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>
                    <b>SignalFyre</b> is a web development partnership. We focus on custome business web apps but we also dabble in making
                    amazing corporate or marketing website for you business <p>
                        Each of our endeavours is guided by a strong sense of craftsmanship
                        and passion for the web. We strive to create meaning and value for our customers and their users and seek to imbue our
                        products with a sense of wonder.
                </h4>
            </div>
        </div>
        <hr>
    </div>
    <!-- /DESCRIPTION -->

    <!-- ========== SKILLS AND EXP ========== -->
    <div class="container">
        <div class="row sinfo centered">
            <div class="col-lg-6">
                <img class="img-circle" src="~/Images/pic.jpg" width="100" height="100" alt="">
                <h5>Connor England</h5>
                <p>
                    Connor has 2 years of experience in general IT and 2 years of experience
                    in web development working on projects ranging from troubleshooting existing systems to
                    developing custom applications. Currently working as an Information Systems Technician.
                </p>
                <p>
                    <strong>Skills:</strong> JS, with JSON and AJAX, HTML, WordPress, CSS, ASP.Net, C#, Assembly, PHP, SQL
                </p>
                <p>
                    <strong>Experience:</strong>2 Years Web Deveopment, Computer Engineering Technologist Diploma - NAIT
                </p>
            </div>

            <div class="col-lg-6">
                <img class="img-circle" src="~/Images/pic2.jpg" width="100" height="100" alt="">
                <h5>Colby Armstrong</h5>
                <p>
                    Colby has 4 years of experience in the IT field, including working on major contracts for the Government of
                    Alberta as a Team Lead to deploy close to 10,000 computers across southern Alberta. He is currently working
                    as a Technology Coordinator and ASP.NET developer.
                </p>
                <p>
                    <strong>Skills:</strong> ASP.Net, C#, Java, Git, HTML, JS, CSS, MySQL, LinQ, jQuery
                </p>
                <p>
                    <strong>Experience:</strong>4 Years of IT Services, Computer Software Development Student - NAIT
                </p>
            </div>

        </div>
    </div>
    <!-- /SKILLS AND EXP -->
